html,body {
    height: 100%;
    background: #fff;
}
#id {
    
}
.formulario {
    
}
a{
    font-size: 12px!important;
    line-height: 12px;
}
.contenido{
    width: 70%;
    height: 120%;
    margin: 0 auto;
     background: #77d5f7;
}